html {
    background-color: lightgray;
}

.container-fluid {
    margin-top: 70px;
    padding-bottom: 10px;
    background-color: lightgray;
}

#registerPage, #loginPage, #logoutPage{
    padding: 10px;
    margin: 0 auto;
    /*text-align: center;*/
}

.alert-message {
    display: none;
}

#bookManagePage .panel, #bookNewPage .panel {
    margin-bottom: 0;
}

#bookManagePage .modal-footer, #bookNewPage .modal-footer {
    border-radius: 7px;
}

.filter-col{
    padding-left:10px;
    padding-right:10px;
    font-size: 14px;
    font-weight: normal;
}


/******** Navigation *********/
#navbar {
    padding-left: 15px;
    padding-right: 15px;
}


/******** Footer *********/
.footer {
    padding: 0 15px;
}
.footer.navbar-inverse {
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}

.footer a:hover {
    color: lightgray;
}


/******** Tables *********/
table.table-books-list tr:hover {
    background-color: #d9edf7 !important;
}
.panel-table-holder #filters-wrapper {
    padding: 10px;
}

.pagination_holder {
    padding: 10px;
    border-top: 1px solid #337ab7;
}

.pagination_holder .pagination {
    margin: 5px;
}